<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
  </head>
  <body>

<form class="" action="/quiz" method="get">
  <h3>Select a deck of cards from the options below:</h3>
  {{#model}}
  <input type="submit" name="" value="{{deckName}}" id={{_id}}>
  {{/model}}
</form>

{{#startQuiz}}
{{#model}}
<form class="" action="index.html" method="post">
  <h4>{{question}}</h4>
  <label for="answer">Answer: </label>
  <input type="text" name="answer" value="" placeholder="type answer here">
  <button type="submit" name="button">Submit</button>
</form>
{{/model}}
{{/startQuiz}}
  </body>
</html>
