<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
  </head>
  <body>

  <h3>Select a deck of cards from the options below:</h3>
    {{#model}}
<form class="" action="/quiz/{{id}}" method="get">
  <button type="submit" name="" value="{{deckName}}" id={{_id}}>{{deckName}}</button>
</form>
  {{/model}}

{{#startQuiz}}
{{#model}}
<form class="" action="/answer" method="post">
  <h4>{{question}}</h4>
  <label for="answer">Answer: </label>
  <input type="text" name="answer" value="" placeholder="type answer here">
  <button type="submit" name="button">Submit</button>
</form>
{{/model}}
{{/startQuiz}}

{{#correct}}
<h4>That's correct! You've answered {{numCorrect}} questions correctly.</h4>
{{/correct}}


<!-- {{^req.session.correct}}
<h4>Current total:</h4>
<h5>You've answered {{req.session.numCorrect}} questions correctly and {{req.session.numIncorrect}} questions incorrectly.</h5>
{{/req.session.correct}} -->





  </body>
</html>
